.local{
    a{
        font-family: "Rubik";
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #8AD5FF;
        transition: all .3s;
        &:hover{
            opacity: 0.5;
        }
    }
    padding: 0 20px;
    padding-top: 23px;
    font-family: "Rubik";
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #8AD5FF;
    width: 100%;
    >span{
        margin: 0 10px;
    }
}
.blog-lista{
    .al-container{
       position: relative;
    }
    .lightSlider{
        height: 376px!important;
        .lslide{
            display: flex;
            justify-content: center;
        }
    }
    .lSSlideOuter{
        overflow-y: visible;
        overflow-x: hidden;
        position: initial;
        .lSSlideWrapper{ 
            overflow-y: visible;
            overflow-x: hidden;
            position: initial;
        }
    }
    .lSNext{
        top: 50px;
        right: calc((100% - $container) / 2)!important;
        width: 42px;
        height: 42px;
        opacity: 1;
        img{
            width: 42px;
            height: 42px;
        }
    }
    .lSPrev{
        top: 54px;
        right: calc(((100% - $container) / 2) + 53px)!important;
        width: 34px;
        height: 34px;
        opacity: 1;
        img{
            width: 34px;
            height: 34px;
        }
    }
    .lSNext, .lSPrev{
        transition: all .3s;
        left: auto!important;
        &:hover{
            opacity: 0.7;
        }
    }
    .blog-single{
        border: 1px solid #F0F0F0;
        box-shadow: 0px 4px 10px 0px #0000001A;
        border-radius: 8px;
        transition: all .3s;
        width: 340px;
        &.home{
            width: 384px;
        }
        @media screen and(max-width: 480px) {
            width: 310px;
        }
        &:hover{
            box-shadow: 0px 4px 10px 0px #00000040;
        }
        .img{
            height: 185px;
            img{
                height: 185px;
                width: 100%;
                object-fit: cover;
            }
        }
        .text{
            padding: 8px 25px;    
            min-height: 155px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            h2{
                width: 100%;
                font-family: "Rubik";
                font-size: 22px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: #454545;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                max-height: 78px;
            }
            h3{
                margin-bottom: 10px;
                font-family: "Rubik";
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color:#2E82E1;
            }
        }
    }
}
.hr{
    margin: 38px auto 23px auto;
    background: #0498EA;
    height: 2px;
    width: 74%;
}
.interese{
    padding: 38px;
    .subtitle{
        font-family: "Rubik";
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #454545;
    }
    .subtitle-2{
        font-family: "Rubik";
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
        letter-spacing: 0em;
        text-align: left;
        color: #00A4FF;
        text-transform: uppercase;
    }
    .contain{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 32px;
    }
    a{
        margin: 35px 0;
        min-width: 300px;
        width: calc((100% - 64px)/ 3);
    }
    .title{
        padding-top: 44px;
        font-family: "Rubik";
        font-size: 36px;
        font-weight: 500;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;
        color: #454545;
    }
    .date{
        padding-top: 12px;
        font-family: "Rubik";
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #2E82E1;
        padding-bottom: 44px;
    }
    .thumb{
        margin: auto;
        width: 80%;
        border-radius: 8px;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    .text{
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #B4B4B4;
        padding-top: 57px;
    }
    .blog-single{
        border: 1px solid #F0F0F0;
        box-shadow: 0px 4px 10px 0px #0000001A;
        border-radius: 8px;
        transition: all .3s;
        &.home{
            width: 384px;
        }
        &:hover{
            box-shadow: 0px 4px 10px 0px #00000040;
        }
        .img{
            height: 185px;
            img{
                border-radius: 8px 8px 0 0 ;
                height: 185px;
                width: 100%;
                object-fit: cover;
            }
        }
        .text{
            padding: 8px 25px;    
            min-height: 155px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            h2{
                width: 100%;
                font-family: "Rubik";
                font-size: 22px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: #454545;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                max-height: 78px;
            }
            h3{
                margin-bottom: 10px;
                font-family: "Rubik";
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color:#2E82E1;
            }
        }
    }
}
.share{
    font-family: "Rubik";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #ABABAB;
    display: flex;
    justify-content: right;
    column-gap: 9px;
    align-items: center;
    .shortc{
        display: flex;
        justify-content: right;
        column-gap: 9px;
        >a{
            cursor: pointer;
            transition: all .3s;
            width: 28px;
            height: 28px;
            min-width: 0;
            border-radius: 20px;
            background-color: #00A4FF;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            img{
                width: 12px;
                height: 12px;
                object-fit: contain;
                transition: all .3s;
            }
            &:hover{
                img{
                    opacity: 0.5;
                }
            }
        }
    }
    .addtoany_shortcode{
        .a2a_kit{
            display: flex;
            justify-content: right;
            column-gap: 9px;
            a{
                min-width: 0;
                width: 28px;
                height: 28px;
                border-radius: 20px;
                background-color: #00A4FF;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                img{
                    width: 12px;
                    height: 12px;
                    object-fit: contain;
                }
            }
        }
    }
}
.blog{
    padding: 20px;
    .contain{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 32px;
        @media screen and(max-width: 750px) {
            justify-content: center;
        }
    }
    a{
        margin: 35px 0;
        min-width: 300px;
        width: calc((100% - 64px)/ 3);
    }
    .title{
        padding-top: 44px;
        font-family: "Rubik";
        font-size: 36px;
        font-weight: 500;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;
        color: #454545;
    }
    .date{
        padding-top: 12px;
        font-family: "Rubik";
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        color: #2E82E1;
        padding-bottom: 44px;
    }
    .thumb{
        margin: auto;
        width: 80%;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        img{
            width: auto;
            min-width: 50%;
        }
    }
    .text{
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #B4B4B4;
        padding-top: 57px;
    }
    .blog-single{
        border: 1px solid #F0F0F0;
        box-shadow: 0px 4px 10px 0px #0000001A;
        border-radius: 8px;
        transition: all .3s;
        &.home{
            width: 384px;
        }
        &:hover{
            box-shadow: 0px 4px 10px 0px #00000040;
        }
        .img{
            height: 185px;
            img{
                height: 185px;
                width: 100%;
                object-fit: cover;
            }
        }
        .text{
            padding: 8px 25px;    
            min-height: 155px;
            display: flex;
            flex-wrap: wrap;
            align-content: space-evenly;
            h2{
                width: 100%;
                font-family: "Rubik";
                font-size: 22px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: #454545;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                max-height: 78px;
            }
            h3{
                margin-bottom: 10px;
                font-family: "Rubik";
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color:#2E82E1;
            }
        }
    }
}