.doc-texto{
    @media screen and(max-width: $container) {
        padding: 0 20px;
    }
    .center{
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        color: #018CEB;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .left, .right{
        padding-top: 0px;
        padding-bottom: 60px;
        width: 100%;
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #B4B4B4;        
    }
    .left-right{
        padding-top: 0px;
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .left, .right{
            padding-top: 0px;
            padding-bottom: 0px;
            width: 48%;
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #B4B4B4;    
        }
    }
    .left-right-img{
        padding-top: 0px;
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .left, .right{
            @media screen and(max-width: $container) {
                width: 100%;
            }
            padding-top: 0px;
            padding-bottom: 0px;
            width: 49%;
            font-family: "Rubik";
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #018CEB;        
        }
        .right{
            height: 235px;
            position: absolute;
            right: 0;
            left: auto;
            img{
                width: 100%;
                height: 235px;
            }
            @media screen and(max-width: $container) {
                position: relative;
                height: auto;
                img{
                    margin-top: 80px;
                    height: auto;
                }
            }
        } 
    }
}
.container-single-doc{
    @media screen and(max-width: $container) {
        padding: 0 20px;
    }
    .faq{
        padding: 35px 0;
        width: 90%;
        margin-left: 5%;
        @media screen and(max-width: 480px) {
            width: 100%;
            margin-left: 0;
        }
        .faqli{
            cursor: pointer;
            margin-bottom: 24px;
            background: #FFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 10px 0px #0000001A;
            border-radius: 8px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            .back{
                width: 100%;
                border-radius: 8px;
                background: #FFF;
                z-index: 99;
            }
            &:before{
                content: "";
                display: block;
                position: absolute;
                border-radius: 8px;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                margin-left: -1px;
                background-image: linear-gradient(90deg, #01A4FF 3.92%, #26DFEB 97.53%);
                z-index: 1;
            }
            .line{
                background: #FFF;
                border-radius: 8px;
                padding: 22px 32px;
                font-family: "Rubik";
                font-size: 22px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: #454545;
                width: 100%;
                display: flex;
                .img{
                    margin-left: auto;
                }
                z-index: 99;
            }
            .hidden{
                background: #FFF;
                border-radius: 8px;
                padding: 0 32px;
                padding-bottom: 23px;
                color: #B4B4B4;
                font-family: "Rubik";
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                z-index: 99;
                p:last-of-type{
                    padding-bottom: 20px;    
                }
                a{ 
                    margin-left: 40%;
                    @media screen and(max-width: $container) {
                        margin-left: 0;
                    }
                    font-family: "Rubik";
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                    padding: 8px 60px;
                    background: #2CDBD9;
                    border: #2CDBD9 solid 1px;
                    border-radius: 8px;
                    &:hover{
                        background: #FFF;
                        color: #2CDBD9;
                    }
                }
            }
        }
    }
    .banner{
        padding: 30px 60px;
        border-radius: 8px;
        background-image: url("./assets/images/contato-doc.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 65px;
        @media screen and(max-width: $container) {
            margin: 30px 0;
            width: 100%;
            padding: 20px;
        }
        .left{
            .title{
                font-family: Rubik;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFF;
                .nome{
                    font-family: "Rubik";
                    font-size: 38px;
                    font-weight: 600;
                    line-height: 45px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
        .right{
            .liga{ 
                margin-left: 100px;
                font-family: "Rubik";
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFF;
                a{
                    font-family: "Rubik";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            .whatsapp{
                .organizar{
                    margin: auto;
                    transition: all .3s;
                    padding: 8px 70px;
                    font-family: "Rubik";
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    background: #11A67C;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    column-gap: 16px;
                }
            }
        }
    }
    .texto-bottom{
        >:not(.contain){
            width: 1230px;
            margin: auto;
            @media screen and(max-width: $container) {
                width: 100%;
            }
        }
        .contain{
            .left-right-text-line{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 1230px;
                @media screen and(max-width: $container){
                    width: 100%;
                }
                margin: auto;
                p{
                    width: 48%;
                    @media screen and(max-width: $container){
                        width: 100%;
                    }
                }
            }
            .left-right-text-line:last-child{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 60px;
                background: #F6F6F6;
                padding: 50px calc((100% - $container) / 2);
                @media screen and(max-width: $container){
                    padding: 50px 20px;
                }
                width: 100%;
                p{
                    width: 48%;
                    @media screen and(max-width: $container){
                        width: 100%;
                    }
                }
            }
        }
    }
    .texto-top, .texto-bottom, .hidden{
        padding-top: 65px;
        h2{
            font-family: "Rubik";
            font-size: 48px;
            font-weight: 600;
            line-height: 57px;
            letter-spacing: 0em;
            color: #008FEB;
        }
        h4{
            font-family: "Rubik";
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: center;
            color: #B4B4B4;
        }
        h5{
            color: #018CEB;
            font-family: Rubik;
            font-size: 28px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
        }
        p{
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            color: #B4B4B4;
            strong{
                font-family: Rubik;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                
                color: #008FEB;
            }
        }
        h3{
            font-family: "Rubik";
            font-size: 36px;
            font-weight: 500;
            line-height: 43px;
            letter-spacing: 0em;
            color: #454545;                
        }
        ul{
            li{
                list-style-type: disc;
                color: #2E82E1;
                margin-left: 20px;
                strong{
                    font-family: "Rubik";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #B4B4B4;
                }
            }
        }
        ol{
            li{
                list-style: number;
                color: #2E82E1;
                margin-left: 20px;
                strong{
                    font-family: "Rubik";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #B4B4B4;
                }
            }
        }
    }
    .form{
        padding-top: 45px;
        .left{
            h2{
                font-family: "Rubik";
                font-size: 28px;
                font-weight: 500;
                line-height: 33px;
                letter-spacing: 0em;
                color: #018CEB;
            }
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            color: #969696;
            p{
                font-family: "Rubik";
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                color: #969696;
            }
        }
        .right{
            .short{
                box-shadow: 0px 4px 16px 0px #00000017;
                background: #FFFFFF;
                width: 70%;
                margin-left: 15%;
                @media screen and(max-width: $container) {
                    width: 100%;
                    margin-left: 0;
                }
                margin-bottom: 85px;
                .wpcf7{
                    padding: 35px 40px;
                    .wpcf7-response-output{
                        display: none;
                    }
                    form{
                        p{
                            margin-bottom: 18px;
                            &:last-of-type{
                                margin-bottom: 0;
                            }
                            input[type=submit]{
                                background: #00A4FF;
                                width: 100%;
                                max-width: 100%;
                                border: #00A4FF 1px solid;
                                outline: none;
                                font-family: "Rubik";
                                font-size: 20px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0em;
                                text-align: center;
                                height: 40px;
                                border-radius: 8px;
                                text-transform: uppercase;
                                color: #FFF;
                                cursor: pointer;
                                transition: all .3s;
                                &:hover{
                                    background-color: #FFF;
                                    color: #00A4FF;
                                }
                            }
                            label{
                                font-family: "Rubik";
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 24px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #2E82E1;
                                text-transform: uppercase;
                            }
                            span{
                                input, textarea{
                                    margin-top: 10px;
                                    background: #F5F5F5;
                                    border: none;
                                    outline: none;
                                    height: 40px;
                                    border-radius: 8px;
                                    width: 100%;
                                    max-width: 100%;
                                    min-height: 40px;
                                    font-family: "Rubik";
                                    padding: 8px 16px;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 19px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    color: #777777;
                                    &::placeholder{
                                        font-family: "Rubik";
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 19px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        color: #777777;
                                    }
                                }
                                textarea{
                                    height: 90px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}