.single-especialidade{
    .padding{
        height: 141px;
    }
    .al-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media screen and(max-width: $container) {
           padding: 0 20px;
        }
    }
    .right{
        width: 50%;
        @media screen and(max-width: $container) {
            width: 100%;
        }
        .consulta{
            width: 73%;
            margin: auto;      
            padding: 49px 24px;  
            box-shadow: 0px 4px 16px 0px #00000017;
            border-radius: 8px;    
            margin-top: -49px;
            @media screen and(max-width: $container) {
                margin-top: 25px;
                padding: 40px 0; 
            } 
            @media screen and(max-width: 800px) {
                width: 100%; 
            }
            z-index: 99999;
            display: block;
            padding-bottom: 10px;
            background-color: #FFF;
            .f{
                h2{
                    padding: 0 18px;
                    font-family: "Rubik";
                    font-size: 64px;
                    font-weight: 500;
                    line-height: 76px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #636363;  
                    display: flex;              
                }  
                min-height: 40px;
                display: flex;
                justify-content: center;
                .preco{
                    display: none;
                    height: 76px!important; 
                }
                div:first-of-type{
                    background-color: #FFF!important;
                    div{
                        background-color: #FFF!important;
                        font-family: "Rubik";
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 21px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #0694E2;
                        width: auto;
                        height: auto;
                        border-radius: 0;
                        padding: 0;
                    }
                }
            }
            h2{
                padding: 0 18px;
                font-family: "Rubik";
                font-size: 32px;
                font-weight: 600;
                line-height: 38px;
                letter-spacing: 0em;
                text-align: left;
                color: #454545;
            }  
            p{
                padding: 0 18px;
                font-family: "Rubik";
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #B4B4B4;
                padding-top: 7px;
                padding-bottom: 47px;
            }
            p.dif{
                padding-bottom: 0;
            }
            hr{
                border: #E4E4E4 1px solid;
                margin: 47px 0;
            }
            .short{
                .wpcf7{
                    .wpcf7-response-output{
                        display: none;
                    }
                    form{
                        p{
                            .wpcf7-spinner{
                                display: none;
                            }
                            padding-bottom: 0;
                            margin-bottom: 14px;
                            padding: 0px;    
                            margin-top: 20px;
                            input[type=submit]{
                                background: #00A4FF;
                                width: 100%;
                                max-width: 100%;
                                border: #00A4FF 1px solid;
                                outline: none;
                                font-family: "Rubik";
                                font-size: 20px;
                                font-weight: 700;
                                line-height: 24px;
                                letter-spacing: 0em;
                                text-align: center;
                                height: 40px;
                                border-radius: 8px;
                                text-transform: uppercase;
                                color: #FFF;
                                cursor: pointer;
                                transition: all .3s;
                                &:hover{
                                    background-color: #FFF;
                                    color: #00A4FF;
                                }
                            }
                            label{
                                font-family: "Rubik";
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 24px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #2E82E1;
                                text-transform: uppercase;
                            }
                            span{
                                input, textarea{
                                    margin-top: 10px;
                                    background: #F5F5F5;
                                    border: none;
                                    outline: none;
                                    height: 40px;
                                    border-radius: 8px;
                                    width: 100%;
                                    max-width: 100%;
                                    min-height: 40px;
                                    font-family: "Rubik";
                                    padding: 8px 16px;
                                    font-size: 16px;
                                    font-weight: 400;
                                    line-height: 19px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    color: #777777;
                                    &::placeholder{
                                        font-family: "Rubik";
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 19px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        color: #777777;
                                    }
                                }
                                textarea{
                                    height: 90px;
                                }
                            }
                        }
                    }
                }
            }
            div{
                &:not(.short){
                    padding: 0 17px;
                    >div{
                        background-color: #00A4FF;
                        height: 40px;
                        width: 100%;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        @media screen and(max-width: $container){
                            height: 60px;
                        }
                        a:first-of-type{
                            font-family: "Rubik";
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;
                            text-transform: uppercase;
                            color: #FFF;
                        }
                    } 
                }
            }
            .liga{ 
                margin-left: 15%;
                font-family: "Rubik";
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: #B4B4B4;
                a{
                    font-family: "Rubik";
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #00A4FF;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            .whatsapp{
                .organizar{
                    margin: auto;
                    transition: all .3s;
                    font-family: "Rubik";
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    background: #11A67C;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 70px;
                    column-gap: 16px;
                    svg{
                        margin-left: 25%;
                    }
                }
            }
        }
    }
    .texto-top, .texto-bottom, .hidden{
        width: 50%;
        @media screen and(max-width: $container) {
            width: 100%;
        }
        padding-top: 65px;
        a{
            font-family: "Rubik";
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #00A4FF;
            transition: all .3s;
            &:hover{
                opacity: 0.5;
            }
        }
        h2{
            font-family: "Rubik";
            font-size: 48px;
            font-weight: 600;
            line-height: 57px;
            letter-spacing: 0em;
            color: #008FEB;
        }
        h4{
            font-family: "Rubik";
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: center;
            color: #B4B4B4;
        }
        h5{
            color: #018CEB;
            font-family: "Rubik";
            font-size: 28px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
        }
        p{
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            color: #B4B4B4;
            strong{
                font-family: "Rubik";
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                
                color: #008FEB;
            }
        }
        h3{
            font-family: "Rubik";
            font-size: 36px;
            font-weight: 500;
            line-height: 43px;
            letter-spacing: 0em;
            color: #454545;                
        }
        ul{
            li{
                list-style-type: disc;
                color: #2E82E1;
                margin-left: 20px;
                strong{
                    font-family: "Rubik";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #B4B4B4;
                }
            }
        }
        ol{
            li{
                list-style: number;
                color: #2E82E1;
                margin-left: 20px;
                strong{
                    font-family: "Rubik";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #B4B4B4;
                }
            }
        }
    }
}