/* Footer
========================================================================== */
.main-footer{
    padding-top: 52px;
    background: linear-gradient(90deg, #0C5FEB 17.4%, #125DDC 69.79%);
    .sub{
        padding-top: 34px;
        @media screen and(max-width: $container) {
            padding: 34px 20px;
        }
        a{
            text-decoration: underline;
            color: #8BB8FF;
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;             
        }
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 400;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        color: #8BB8FF;
        .destacado{
            padding: 18px 0;
            margin-top: 35px;
            background-color: #0F4AA7;
            @media screen and(max-width: $container){
                padding: 18px;
            }
        }
        .dev{
            padding: 8px 0;
            font-family: "Rubik";
            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: right;
            color: #71A7FF;
            a{
                font-family: "Rubik";
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                letter-spacing: 0em;
                text-align: right;
                color: #71A7FF;
            }
        }
    }
    .sup{
        .al-container{
            ul{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                row-gap: 30px;
                .logo{
                    width: calc((100% - (155px * 2))/3);
                    @media screen and(max-width: $container) {
                        width: 300px;
                    }
                    div{
                        padding-top: 34px;
                        font-family: "Rubik";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #8BB8FF;
                    }
                }
                .infos{
                    @media screen and(max-width: $container) {
                        width: 300px;
                    }
                    .info{
                        &.especial{
                            .cont{
                                a{
                                    max-width: 260px;
                                    text-decoration: underline;
                                }
                            }
                        }
                        &.redes{
                            .cont{
                                a+a{
                                    margin-left: 15px;
                                }
                                a{
                                    div{
                                        box-shadow: 0px 4px 4px 0px #0000001A;
                                        width: 47px;
                                        border-radius: 60px;
                                        background-color: #FFF;
                                        height: 47px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }
                                    &:hover{
                                        opacity: 1;
                                        div{
                                            opacity: 1;
                                            svg{
                                                opacity: 0.7;
                                                transition: all .3s;
                                                transform: rotateY(360deg);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        h2{
                            font-family: "Rubik";
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 21px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #FFF;
                            padding-bottom: 24px;
                        }
                        .cont{
                            display: flex;
                            justify-content: left;
                            align-items: center;
                            column-gap: 6px;
                            padding-bottom: 18px;
                            a{
                                font-family: "Rubik";
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 19px;
                                letter-spacing: 0em;
                                text-align: left;
                                color: #FFF;
                                transition: all .3s;
                                &:hover{
                                    opacity: 0.7;
                                }
                            }
                        }
                        .cont+.cont{
                            padding-bottom: 0px;
                        }
                    }
                    .info+.info{
                        padding-top: 51px;
                    }
                }
            }
        }
    }
}