/* Header
========================================================================== */
.main-header{
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    .menu-main{
        background-color: #FFF;
        box-shadow: 0px 4px 7px 0px #00000017;
        width: 100%;
        height: 116px;
        .al-container{
            height: 116px;
            .left-right-content{
                height: 116px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left, .right{
                    width: auto;
                    font-family: "Rubik";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000;
                    a{
                        font-family: "Rubik";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000;
                    }
                }
                .right{
                    ul{
                        height: 116px;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-evenly;
                        column-gap: 54px;
                        li{
                            font-family: "Rubik";
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 21px;
                            letter-spacing: 0em;
                            text-align: left;
                            a{
                                color: #000;
                                transition: all .3s;
                                &:hover{
                                    color: #0982c5;
                                }
                            }
                            &:last-child{
                                background-color: #11A67C;
                                border: 1px solid #11A67C;
                                border-radius: 8px;
                                width: 144px;
                                transition: all 0.3s;
                                height: 36px;
                                display: flex;
                                transition: all .3s;
                                a{
                                    transition: all .3s;
                                    font-family: "Rubik";
                                    font-size: 18px;
                                    font-weight: 400;
                                    line-height: 21px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    text-transform: uppercase;
                                    color: #FFF;
                                    width: 100%;
                                    height: 36px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                &:hover{
                                    background-color: #FFF;
                                    a{
                                        color: #11A67C;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .texto-main{
        background: linear-gradient(90deg, #00A4FF 0%, #0982C5 100%);
        width: 100%;
        height: 31px;
        .al-container{
            height: 31px;
            .left-right-content{
                height: 31px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .left, .right{
                    width: 48%;
                    font-family: "Rubik";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0.07em;
                    text-align: left;
                    color: #FFF;
                    a{
                        font-family: "Rubik";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0.07em;
                        color: #FFF;
                        text-decoration-line: underline;
                    }
                }
                .right{
                    text-align: right;
                    display: flex;
                    justify-content: right;
                    gap: 10px;
                    align-items: center;
                    a{
                        text-decoration-line: none;
                    }
                }
            }
        }
    }
}