/* Home
========================================================================== */
.slider{
    max-height: 600px;
    width: 100%;
    overflow: hidden;
}
.diretrizes{
    .al-container{
        .listagem{
            padding: 112px 0;
            @media screen and(max-width: 1230px) {
                padding: 112px 20px;
                justify-content: center;
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            column-gap: 32px;
            align-items: flex-start;
            row-gap: 32px;
            .diretriz{
                width: calc((100% - (32px * 2))/3);
                @media screen and(max-width: 1230px) {
                    width: 360px;
                }
                display: flex;
                justify-content: left;
                align-items: center;
                padding: 18px 40px;
                box-shadow: 0px 4px 10px 0px #0000001A;
                min-width: 360px;
                .left, .right{
                    width: auto;
                }
                .left{
                    padding-right: 26px;
                    @media screen and(max-width: 480px){
                        padding: 0px;
                        padding-right: 26px;

                    }
                    img{
                        max-width: none;
                    }
                }
                .right{
                    padding: 0!important;
                    h2{
                        font-family: "Rubik";
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #454545;
                    }
                    .text{
                        font-family: "Rubik";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #B4B4B4;
                    }
                }
            }
        }
    }
}
.especialidades{
    &:not(.no-back){
        background-image: url("./assets/images/especialidades.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    &.no-back{
        .banner{
            margin-top: 55px;
        }
    }
    .al-container{
        min-height: 650px;
    }
    .banner{
        border-radius: 8px;
        padding: 44px 60px;
        background-image: url("./assets/images/contato-especialidade.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 65px;
        .left{
            .title{
                font-family: Rubik;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFF;
                transform: none;
                position: relative;
                left: 0;
                top: 0;
                .nome{
                    font-family: "Rubik";
                    font-size: 38px;
                    font-weight: 600;
                    line-height: 45px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
        .right{            
            .liga{ 
                margin-left: 100px;
                font-family: "Rubik";
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFF;
                a{
                    font-family: "Rubik";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            .whatsapp{
                .organizar{
                    margin: auto;
                    transition: all .3s;
                    padding: 8px 70px;
                    font-family: "Rubik";
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    background: #11A67C;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    column-gap: 16px;
                }
            }
        }
    }
    .al-container{
        display: flex;
        flex-wrap: wrap;
        &:before{
            content: "ESPECIALIDADES";
            font-family: "Rubik";
            font-size: 72px;
            font-weight: 900;
            line-height: 85px;
            letter-spacing: 0em;
            text-align: left;
            color: #FFFFFF;
            transform: rotateZ(270deg);
            position: absolute;
            left: calc(((100% - $container) / 2) - 350px);
            top: 45%;
            @media screen and(max-width: 1350px) {
                position: relative;
                transform: none;
                left: 20px;
                top: 0;
                color: #505050;
                line-break: anywhere;
            }
            @media screen and(max-width: 700px) {                
                font-size: 48px;
            }
            @media screen and(max-width: 480px) {
                font-size: 36px;
            }
        }
        p{
            padding: 32px 0;
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;
            color: #B4B4B4;
        }
        .right-content{
            width: auto;
            padding: 0px 0px;
            &:not(.no-back){
                padding: 162px 0;
                @media screen and(max-width: 1350px) {
                    padding: 70px 0;
                }
            }
            .lista{
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                column-gap: 25px;
                row-gap: 30px;
                @media screen and(max-width: 1230px) {
                    justify-content: center;
                }
                .child{
                    height: 76px;
                    width: 20%;
                    @media screen and(max-width: 1230px) {
                        margin: 10px 32px;
                        width: 230px;
                    }
                    &:before{
                        content: "";
                        display: block;
                        width: 253px;
                        height: 78px;
                        border-radius: 8px;
                        background-image: linear-gradient(180deg, #0293E9 0%, #014ECE 92.71%);
                    }
                    .contain{
                        margin-top: -77px;
                        margin-left: 1px;
                        height: 76px;
                        width: 251px;
                        border-radius: 8px;
                        border: 1px solid;
                        background-color: #FFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: "Rubik";
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #505050;
                        transition: all .3s;
                        &:hover{
                            color: #FFF;
                            border: none;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
.servicos{
    .r-container{
        margin-left: calc((100% - $container)/2);
        @media screen and(max-width:1230px){
            margin-left: 0;
            padding: 0 20px;
        }
        .left-right{
            padding: 138px 0;
            .agendar{
                margin-top: 43px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 15px;
                width: 35%;
                max-width: 450px;
                @media screen and(max-width: $container) {
                    margin-top: 30px;
                    margin: auto;
                    width: auto;
                }
                @media screen and(max-width: 1500px) {
                    margin-left: calc(100% - $container);
                }
                @media screen and(max-width: 1000px) {
                    margin-left: 0px;
                }
                margin-left: calc(100% - $container - 150px);
                width: fit-content;
                >span{ 
                    @media screen and(max-width: 600px){
                        margin-left: 13%;
                    }
                    font-family: "Rubik";
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #B4B4B4;
                    a{
                        font-family: "Rubik";
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #00A4FF;
                        &:hover{
                            opacity: 0.7;
                        }
                    }
                }
                .whatsapp{
                    &:hover{
                        .organizar{
                            color: #52A844;
                            background-color: #FFF;
                            svg{
                                z-index: 9;
                                opacity: 0;
                            }
                            svg+svg{
                                opacity: 1;
                                z-index: 999;
                            }
                        }
                    }
                    .organizar{
                        @media screen and(max-width: 1230px) {
                            margin: auto;
                            padding: 20px;
                        }
                        transition: all .3s;
                        padding: 8px 94px;
                        font-family: "Rubik";
                        font-size: 22px;
                        font-weight: 700;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #FFFFFF;
                        text-transform: uppercase;
                        background-color: #52A844;
                        border: #52A844 1px solid;
                        border-radius: 20px;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        column-gap: 16px;
                        svg{
                            z-index: 999;
                            transition: all .3s;
                        }
                        svg+svg{
                            z-index: 9;
                            position: absolute;
                            opacity: 0;
                        }
                    }
                }
            }
            h2{
                font-family: "Rubik";
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #454545;
                span{
                    font-family: "Rubik";
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 47px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #00A4FF;
                    text-transform: uppercase;
                }
            }
            .contain{
                display: flex;
                justify-content: right;
                flex-wrap: wrap;
                .left, .right{
                    @media screen and(max-width:1230px){
                        width: 100%;
                    }
                }
                .left{
                    width: 50%;
                    min-width: 800px;
                    padding-top: 33px;
                    height: min-content;    
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    @media screen and(max-width: $container){
                        justify-content: center;
                        column-gap: 32px;
                    }
                    row-gap: 32px;
                    a{
                        height: fit-content;
                        &:hover{
                            .algum-container{
                                box-shadow: 0px 4px 4px 0px #00000040;
                            }
                        }
                        .algum-container{
                            padding: 18px;
                            width: 384px;
                            border-radius: 8px;
                            box-shadow: 0px 4px 10px 0px #0000001A;
                            background-color: #FFF;
                            display: flex;
                            align-items: center;
                            transition: all .3s;
                            @media screen and(max-width: $container) {
                                width: 320px;
                            }
                            .left-image{ 
                                width: 75px;
                                height: 75px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: scale-down;
                                }
                            }
                            .right-text{
                                padding-left: 11px;
                                display: flex;
                                flex-wrap: wrap;
                                width: fit-content;
                                .nome{
                                    font-family: "Rubik";
                                    font-size: 22px;
                                    font-weight: 400;
                                    line-height: 26px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    color: #454545;
                                }
                                .saiba-mais{
                                    font-family: "Rubik";
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 19px;
                                    letter-spacing: 0em;
                                    text-align: left;
                                    color: #2E82E1;
                                    margin-left: auto;
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
                .right{
                    width: calc(((100% - $container)/ 2) + 35%);
                    img{
                        margin-top: -35px;
                        @media screen and(max-width: $container) {
                            margin-top: 0;
                        }
                        width: 100%;
                        height: calc(100% + 10px);
                        object-position: left;
                    }
                }
            }
        }
    }
}
.doc-ocupacional{
    background-image: url("./assets/images/ocupacional.png");
    background-size: cover;
    background-repeat: no-repeat;
    .al-container{
        padding: 65px 0;
        h2{
            font-family: "Rubik";
            font-size: 20px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            span{
                font-family: "Rubik";
                font-size: 40px;
                font-weight: 700;
                line-height: 47px;
                letter-spacing: 0em;
                text-align: center;
                color: #FFFFFF;
            }
        }
        .saiba-mais{
            width: 265px;
            height: 50px;
            margin: auto;
            a{
                &:hover{
                    div{
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    }
                }
                div{
                    height: 100%;
                    width: 100%;
                    transition: all .3s;
                    border-radius: 8px;
                    box-shadow: 0px 1px 10px 0px #0000001A;
                    font-family: "Rubik";
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #FFFFFF;
                    background-color: #00A4FF;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .doc-ocpacional-lista{
            padding: 35px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media screen and (max-width: 1230px) {
                column-gap: 32px;
                justify-content: center;
                row-gap: 20px;
            }
            a{
                width: 330px;
                min-height: 128px;
                &:hover{
                    div{
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
                    }
                }
                div{
                    transition: all .3s;
                    min-height: 128px;
                    padding: 25px 52px;
                    border-radius: 8px;
                    box-shadow: 0px 1px 10px 0px #0000001A;
                    font-family: "Rubik";
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #FFFFFF;
                    &.background-color-0{
                        background-color: #009CFF;
                    }
                    &.background-color-1{
                        background: #14C5DB;
                    }
                    &.background-color-2{
                        background: #3BCCF3;
                    }
                }
            }
        }
    }
}
.forma-de-mudar{
    padding: 100px 0;
    .al-container{
        .contain{
            display: flex;
            align-items: center;
            width: calc(100% - 90px);
            border-radius: 8px;
            margin: auto;
            background-image: url("./assets/images/forma-de-mudar.png");
            background-size: cover;
            background-repeat: no-repeat;
            padding: 65px 0;
            flex-wrap: wrap;
            row-gap: 50px;
            .left, .right{
                padding: 0 60px;
                width: 60%;
                @media screen and(max-width:1230px){
                    width: 100%;
                    padding: 0 30px;
                }
                span{
                    font-family: "Rubik";
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                }
                h2{
                    font-family: "Rubik";
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 47px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                    text-transform: uppercase;
                }
                .text{
                    font-family: "Rubik";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                }
                a{
                    font-family: "Rubik";
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    width: 294px;
                    background: #0ADBD5;
                    padding: 12px 36px;
                    color: #FFF;
                    text-transform: uppercase;
                    border-radius: 8px;
                    @media screen and(max-width: $container) {
                        padding: 10px;
                    }
                }
            }
            .right{
                width: auto;
                padding: 0;
                margin-left: auto;
                padding-right: 60px;
                @media screen and(max-width: $container){
                    margin-left: 30px;
                    padding-right: 0;
                }
            }
        }
    }
}
.news-letter{
    @media screen and(max-width: $container){
        padding: 40px 20px;
    }
    &.margemfds{
        margin-top: 93px;
        background-color: #FFF;
    }
    margin-top: 90px;
    background: #FBFBFB;
    .al-container{
        .title{
            &.correcao{
                max-width: none;
                padding-bottom: 45px;
            }
            max-width: 450px;
            span{
                font-family: "Rubik";
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #454545;
            }
            h2{
                font-family: "Rubik";
                font-size: 40px;
                font-weight: 700;
                line-height: 47px;
                letter-spacing: 0em;
                text-align: left;
                color: #00A4FF;
                text-transform: uppercase;
            }
            p,a{
                font-family: "Rubik";
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #B4B4B4;
            }
            a{
                text-decoration: underline;
            }
        }
        .shortcode{
            padding-top: 35px;
            .tnp{
                display: block;
                margin: 0;
                max-width: 100%;
                width: 100%;
            }
            form{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .tnp-field{
                width: calc((100% - (53px * 2))/3);
                @media screen and(max-width: $container) {
                    width: 267px;
                }
                label{
                    font-family: "Rubik";
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    text-transform: uppercase;
                    color: #2E82E1;
                }
                input{
                    background: #F5F5F5;
                    height: 40px;
                    padding: 10px 17px;
                    &::placeholder{
                        font-family: "Rubik";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #777777;
                    }
                }
                &.tnp-field-button{
                    margin: 0 auto;
                    margin-top: 40px;
                    margin-bottom: 70px;
                    width: fit-content;
                    @media screen and(max-width: $container) {
                        margin: unset;
                        margin-top: 25px;
                        margin-bottom: 0;
                    }
                    input{
                        cursor: pointer;
                        height: 50px;
                        width: 267px;
                        border-radius: 8px;
                        background: #00A4FF;
                        border: 1px solid #00A4FF;
                        font-family: "Rubik";
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: center;
                        text-transform: uppercase;
                        color: #FFF;
                        transition: all .3s;
                        &:hover{
                            background: #FFF;
                            color: #00A4FF;
                        }
                    }
                }
            }
        }
    }
}