/**
 * Theme Name: AreaStructure
 * Theme URI: http://www.arealocal.com.br
 * Author: Equipe &Aacute;rea Local
 * Author URI: http://www.arealocal.com.br
 * Description: Esse tema &eacute; um tema personalizado pela &Aacute;rea Local, caso necessite de algum atendimento entre em contato no telefone <a href="tel:+554735219850" target="_blank">(47) 3521-9850</a> ou no e-mail <a href="mailto:suporte@arealocal.com.br" target="_blank">suporte@arealocal.com.br</a>. Para mais informa&ccedil;&otilde;es acesse: <a href="http://www.arealocal.com.br" target="_blank">www.arealocal.com.br</a>.
 * Version: 4.0.0
 * Text Domain: estrutura-basica
**/

/* Global variables
========================================================================== */
// Sizes
$sm: 480px;
$tb: 768px;
$dt: 1024px;

// Colors
$primary-color: #000;
$secondary-color: #fff;
$tertiary-color: #ccc;

$darken-primary-color: darken($primary-color, 16);
$darken-secondary-color: darken($secondary-color, 10);
$darken-tertiary-color: darken($tertiary-color, 10);

$white: #fff;
$black: #000;

$danger: #dc3545;
$success: #28a745;

// Fonts
@import 'fonts';
// $poppins-light: 'poppins-light';

/* Mixins
========================================================================== */
@import 'mixins';

/* Resets
========================================================================== */
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	&:not(.fas, .fab, .fa) {
		font-size: 1rem;
	}
}

a {
	transition: all linear 0.2s;
	&:focus,
	&:hover {
		text-decoration: none;
	}
}

input,
button {
	outline: none;
}

section {
	position: relative;
}

img {
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}

/* Global classes
========================================================================== */
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
$container : 1230px;
.al-container {
	width: $container;
}
.whatsapp-link{
    z-index: 9999999;
    position: fixed;
    width: 73px;
    height: 73px;
    bottom: 35px;
    right: 40px;
	a{
		img{
			z-index: 1;
			width: 73px;
			height: 73px;
			float: right;
			transition: all .3s;
			&:hover{
				opacity: 0.8;
			}
		}
	}
}
.al-small-container {
	width: 1042px;
}
.privacidade{
	padding: 20px 0;
	p{
		font-family: "Rubik";
		font-size: 18px;
		font-weight: 400;
		line-height: 21px;
		letter-spacing: 0em;
		text-align: left;
		color: #B4B4B4;	
	}
	h1{
		color: #454545;
		font-family: "Rubik";
		font-size: 36px;
		font-weight: 500;
		line-height: 43px;
		letter-spacing: 0em;
		text-align: left;
	}
}
.al-extra-small-container {
	position: relative;
	width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
	max-width: 100%;
	margin: 0 auto;
}

div.left-right-content {
	display: table;
	width: 100%;
	div.left,
	div.right {
		display: table-cell;
		vertical-align: middle;
		@include smartphone {
			display: table-row;
		}
	}
}

.left,
.right {
	display: inline-block;
	width: 49.5%;
	position: relative;
	vertical-align: top;
	@include smartphone {
		width: 100%;
		padding: 20px;
	}
}
.espaco{
	padding-bottom: 64px;
}
.revelar{
	cursor: pointer;
}
.paginacao{
    margin: auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 12px;
	.page-numbers{
		font-family: 'Rubik';
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: #00A4FF;
		width: auto;
		min-width: 0;
		margin: 0;
		&:not(span){
			transition: all 0.3s;
			&:hover{
				color: $black;
			}
		}
		&.current{
			background: #00A4FF;
			font-family: 'Rubik';
			font-weight: 600;
			color: $white;
			width: 32px;
			height: 32px;
			border-radius: 50%;
		}
	}
	.next{
		display: none;
	}
}
.preco{
	display: none;
	font-family: "Rubik";
	font-size: 64px;
	font-weight: 500;
	line-height: 76px;
	letter-spacing: 0em;
	text-align: left;
	color: #636363;
	.first{
		margin-top: 15px;
		font-family: "Rubik";
		font-size: 24px;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
		color: #636363;
	}
	.second{
		font-family: "Rubik";
		font-size: 24px;
		font-weight: 500;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
		margin-top: auto;
		margin-bottom: 15px;
		color: #636363;
	}
}
.thumb-page{
    height: 250px;
    background-position: center;
	@media screen and(max-width: $container) {
   	 	margin-top: 60px;
    	height: auto;
	}
	.al-container{
		@media screen and(max-width: $container) {
			padding: 0 20px;
		}
		.local{
			a{
				font-family: "Rubik";
				font-size: 16px;
				font-weight: 500;
				line-height: 19px;
				letter-spacing: 0em;
				text-align: left;
				color: #8AD5FF;
				transition: all .3s;
				&:hover{
					opacity: 0.5;
				}
			}
			padding-top: 23px;
			font-family: "Rubik";
			font-size: 16px;
			font-weight: 500;
			line-height: 19px;
			letter-spacing: 0em;
			text-align: left;
			color: #8AD5FF;
			width: 100%;
			>span{
				margin: 0 10px;
			}
		}
		.title{
			max-width: 80%;
			@media screen and(max-width: $tb) {
				max-width: 100%;
			}
			line-break: anywhere;
			padding-top: 35px;
			font-family: "Rubik";
			font-size: 64px;
			font-weight: 900;
			line-height: 66px;
			letter-spacing: 0em;
			text-align: left;
			color: #FFFFFF;
			text-transform: uppercase;
			line-break: strict;
		}
	}
}
/* Html / Body
========================================================================== */
html {
	height: 100%;
	overflow: auto;
}

body {
	background: #fff;
	height: 100%;
	line-height: 1.6;
	font: normal normal 16px Arial, sans-serif;
}

/* Custom scrollbar
========================================================================== */
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: darken($white, 10);
}

body::-webkit-scrollbar-thumb {
	background: $primary-color;
	&:hover {
		background: $darken-primary-color;
	}
}

/* Mobmenu Classes
========================================================================== */
.mob-menu-header-holder,
.mobmenu {
	z-index: 99 !important;
}

.mobmenul-container {
	top: 0 !important;
	right: 2% !important;
	z-index: 0 !important;
	background: $primary-color;
	padding: 10px 10px 0px 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.mob-icon-menu,
.mob-menu-icon {
	color: #fff !important;
}

[class^='mob-icon-']:before,
[class*='mob-icon-']:before {
	font-size: 28px !important;
	width: unset !important;
}

/* Contact Form 7
========================================================================== */
.form-container {
	.ajax-loader {
		display: none !important;
	}
	span[role='alert'] {
		display: none !important;
	}
	.wpcf7-not-valid {
		border: 1px solid $danger !important;
		@include placeholder {
			color: $danger !important;
		}
	}
	div[role='alert'] {
		position: absolute;
		bottom: 0;
		font-weight: bold;
		text-align: center;
		background: #f1f1f1;
		width: 100%;
		max-width: 502px;
		margin: 20px 0;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		&.wpcf7-validation-errors {
			border-color: $danger;
			color: $danger;
		}
		&.wpcf7-mail-sent-ok {
			border-color: $success;
			color: $success;
		}
		@include smartphone {
			position: initial;
			max-width: 100%;
		}
	}
}
#wrapper{
	margin-top: 147px;
	@media screen and(max-width: $container){
		margin-top: 60px;
	}
}
/* Pages
========================================================================== */
@import 'header';
@import 'footer';
@import 'home';
@import 'sobre';
@import 'doc';
@import 'especialidade';
@import 'servico';
@import 'blog';