.single-servicos{
    @media screen and(max-width:$container) {
        padding: 0 20px;
    }
    .padding{
        height: 141px;
    }
    .banner{
        padding: 42px 60px;
        border-radius: 8px;
        background-image: url("./assets/images/contato-especialidade.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 65px;
        margin-top: 76px;
        @media screen and(max-width: $container) {
            width: 100%;
            padding: 20px;
        }
        .left{
            .title{
                font-family: Rubik;
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFF;
                .nome{
                    font-family: "Rubik";
                    font-size: 38px;
                    font-weight: 600;
                    line-height: 45px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
        .right{
            .liga{ 
                margin-left: 100px;
                font-family: "Rubik";
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                color: #FFF;
                @media screen and(max-width: $container) {
                    margin-left: 50px;
                }
                a{
                    font-family: "Rubik";
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFF;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            .whatsapp{
                .organizar{
                    margin: auto;
                    transition: all .3s;
                    padding: 8px 70px;
                    font-family: "Rubik";
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #FFFFFF;
                    text-transform: uppercase;
                    background: #11A67C;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    width: fit-content;
                    column-gap: 16px;
                }
            }
        }
    }
    .faq, .faq-bot, .faq-tipo{
        padding: 37px 75px;
        @media screen and(max-width: $container) {
            padding: 0;
        }
        .faqli{
            cursor: pointer;
            margin-bottom: 24px;
            background: #FFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 10px 0px #0000001A;
            border-radius: 8px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            position: relative;
            .back{
                width: 100%;
                border-radius: 8px;
                background: #FFF;
                z-index: 99;
            }
            &:before{
                content: "";
                display: block;
                position: absolute;
                border-radius: 8px;
                width: calc(100% + 2px);
                height: calc(100% + 2px);
                margin-left: -1px;
                background-image: linear-gradient(180deg, #0293E9 0%, #014ECE 92.71%);
                z-index: 1;
            }
            .line{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;
                background: #FFF;
                border-radius: 8px;
                padding: 22px 32px;
                font-family: "Rubik";
                font-size: 22px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                color: #454545;
                width: 100%;
                display: flex;
                .img{
                    margin-left: auto;
                }
                .text{
                    margin-left: auto;
                    display: flex;
                    align-items: flex-start;
                    font-family: "Rubik";
                    font-size: 35px;
                    font-weight: 500;
                    line-height: 41px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #0190EC;
                    .first{
                        margin-top: 5px;
                        font-family: "Rubik";
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #0190EC;
                    }
                    .second{
                        font-family: "Rubik";
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 0em;
                        text-align: left;
                        margin-top: auto;
                        margin-bottom: 5px;
                        color: #0190EC;
                    }
                }
                z-index: 99;
            }
            .hidden{
                background: #FFF;
                border-radius: 8px;
                padding: 0 32px;
                padding-bottom: 23px;
                color: #B4B4B4;
                font-family: "Rubik";
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                letter-spacing: 0em;
                text-align: left;
                z-index: 99;
            }
        }
    }
    .faq-tipo{
        .faqli{
            cursor: auto;
        }
    }
    .texto-top, .texto-bottom, .hidden{
        padding-top: 65px;
        a{
            font-family: "Rubik";
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: #00A4FF;
            transition: all .3s;
            &:hover{
                opacity: 0.5;
            }
        }
        h2{
            font-family: "Rubik";
            font-size: 48px;
            font-weight: 600;
            line-height: 57px;
            letter-spacing: 0em;
            color: #008FEB;
        }
        h4{
            font-family: "Rubik";
            font-size: 22px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: center;
            color: #B4B4B4;
        }
        h5{
            color: #018CEB;
            font-family: Rubik;
            font-size: 28px;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
        }
        p{
            font-family: "Rubik";
            font-size: 18px;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            color: #B4B4B4;
            strong{
                font-family: Rubik;
                font-size: 18px;
                font-weight: 500;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                
                color: #008FEB;
            }
        }
        h3{
            font-family: "Rubik";
            font-size: 36px;
            font-weight: 500;
            line-height: 43px;
            letter-spacing: 0em;
            color: #454545;                
        }
        ul{
            li{
                list-style-type: disc;
                color: #2E82E1;
                margin-left: 20px;
                strong{
                    font-family: "Rubik";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #B4B4B4;
                }
            }
        }
        ol{
            li{
                list-style: number;
                color: #2E82E1;
                margin-left: 20px;
                strong{
                    font-family: "Rubik";
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 27px;
                    letter-spacing: 0em;
                    color: #B4B4B4;
                }
            }
        }
    }
    .texto-bottom{
        padding-top: 0px;
    }
}