.texto-sobre{
    padding-top: 55px;
    padding-bottom: 35px;
    @media screen and(max-width: $container) {
        padding: 0 20px;
    }
    .al-container{
        font-family: "Rubik";
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #B4B4B4;
        p+p{
            margin-top: 21px;
        }
    }
}
.left-right-faq{
    .al-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        @media screen and(max-width: $container) {
            padding: 20px;
            row-gap: 32px;
        }
        .right{
            width: 65%;
            @media screen and(max-width: $container) {
                width: 100%;
            }
            .faq{
                padding-left: 100px;
                @media screen and(max-width: $container) {
                    padding-left: 0;
                }
                .faqli{
                    cursor: pointer;
                    margin-bottom: 24px;
                    background: #FFF;
                    box-sizing: border-box;
                    box-shadow: 0px 4px 10px 0px #0000001A;
                    border-radius: 8px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    position: relative;
                    .back{
                        width: 100%;
                        border-radius: 8px;
                        background: #FFF;
                        z-index: 99;
                    }
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        border-radius: 8px;
                        width: calc(100% + 2px);
                        height: calc(100% + 2px);
                        margin-left: -1px;
                        background-image: linear-gradient(180deg, #0293E9 0%, #014ECE 92.71%);
                        z-index: 1;
                    }
                    .line{
                        background: #FFF;
                        border-radius: 8px;
                        padding: 22px 32px;
                        font-family: "Rubik";
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 26px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #454545;
                        width: 100%;
                        display: flex;
                        .img{
                            margin-left: auto;
                        }
                        z-index: 99;
                    }
                    .hidden{
                        background: #FFF;
                        border-radius: 8px;
                        padding: 0 32px;
                        padding-bottom: 23px;
                        color: #B4B4B4;
                        font-family: "Rubik";
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                        z-index: 99;
                    }
                }
            }
        }
        .left{
            width: 35%;
            @media screen and(max-width: $container) {
                width: 100%;
            }
            .title{
                font-family: "Rubik";
                font-size: 36px;
                font-weight: 500;
                line-height: 43px;
                letter-spacing: 0em;
                text-align: left;
                color: #454545;
            }
            .text{
                padding-top: 21px;
                padding-bottom: 12px;
                font-family: "Rubik";
                font-size: 18px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0em;
                text-align: left;
                color:#B4B4B4;
            }
            a{
                font-family: "Rubik";
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                text-transform: uppercase;
                color: #FFFFFF;
                padding: 8px 57px;
                background-color: #00A4FF;
                border: #00A4FF solid 1px;
                border-radius: 8px;
                transition: all .3s;
                @media screen and(max-width: $container) {
                    padding: 10px;
                }
                &:hover{
                    color: #00A4FF;
                    background-color: #FFF;
                }
            }
        }
    }
}